body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #023336;
    color: #c6d4c3;
}

.quiz-container {
    width: 45%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 6%;
}

h1{
    margin-bottom: 20px;
}

.choices {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.choices button{
    background-color: #4DA674;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    height: 48px;
}

button:hover {
    background-color: #3e855d;
    transform: scale(1.06)
}

.hidden {
    display: none;
}

button{
    text-align: left;
}

.restart-btn {
    color: white;
    background-color: #3e855d;
}

#Score {
    text-align: center;
    font-size: large;
}
